* {
    box-sizing: border-box;
}
:root {
    --primary-font: "Public Sans";
    --second-font: "Poppins";
    --primary-color: #143c3c;
    --bgc-hover: rgb(214, 236, 208);
    --color-hover: #315c5c;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

/* Comon CSS */
.content-wrapper {
    width: 1140px;
    max-width: calc(1140px - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    height: 57px;
    min-width: 173px;
    background: var(--primary-color);
    border: 1.5px solid #143c3c;
    border-radius: 999px;
    line-height: 54px;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #ffffff;
}
/* ===========Header CSS ========== */

.header {
    padding-top: 28px;
}
.header__block {
    display: flex;
    align-items: center;
}
.header__list-item {
    margin-left: 386px;
    display: flex;
}
.header__item {
    padding: 5px 19px;
    display: inline-block;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575b5c;
}
.header__item:hover {
    /* color: #152427; */
    text-shadow: 1px 0 0 currentColor;
    transition: 0.25s;
}
.header__btn {
    margin-left: 69px;
    transition: 0.35s;
}
.header__btn:hover {
    background-color: var(--bgc-hover);
    color: var(--color-hover);
    border: none;
}
.header__hr {
    position: relative;
    margin-top: 13px;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}
.header__hr::before {
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-16px);
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color);
}
/* =================Hero CSS========== */

.hero {
    margin-top: 60px;
}
.hero__heading {
    width: 37%;
}
.hero__block {
    display: flex;
}
.hero__title {
    width: 368px;
    margin-top: 43px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}
.hero__desc {
    width: 341px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}
.hero__cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
}
.btn__cta {
    transition: 0.35s;
}
.hero__cta .btn__cta:hover {
    background-color: rgb(214, 236, 208);
    border: none;
    color: #315c5c;
}
.hero__watch-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.hero__watch-video:hover {
    cursor: pointer;
}

.hero__watch-video__play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
    transform: rotate(45deg);
    transition-duration: 0.3s;
}
.hero__watch--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid;
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}
.hero__watch-video:hover .hero__play__click {
    color: #83a17d;
}
.hero__watch-video:hover .hero__watch--circle {
    transform: rotate(135deg);
    transition-duration: 0.3s;
}
.hero__watch-video:hover .hero__watch-video__play {
    transform: rotate(-375deg);
    transition-duration: 0.3s;
}
.hero__watch-video .hero__watch--circle {
    border-color: #83a17d;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.hero__watch-video:hover .hero__watch--circle {
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.hero__watch-video:hover .hero__watch-video__play {
    background-color: var(--primary-color);
}
.hero__play__click {
    margin-left: 8px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #152427;
    font-family: var(--second-font);
}
.hero__block-img {
    position: relative;
    width: 63%;
    display: flex;
    margin-left: 101px;
    gap: 0 20px;
}
__block__item {
    flex: 1;
}
.hero__block__item:nth-child(2) {
    margin-top: 77px;
}
.hero__item-img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}
.background--filter {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}
.hero__top__icon {
    position: absolute;
    top: -30px;
    left: -200px;
}
.hero__bottom__icon {
    position: absolute;
    bottom: -57px;
    right: 10px;
    transform: rotate(180deg);
}

/* =============Brand CSS============== */

.brand {
    margin-top: 130px;
}
.brand-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e2eddf;
    border-radius: 100.5px;
    padding: 0 121px;
    height: 201px;
}
.brand__control {
    padding: 18px 24px;
}
.brand-block a:nth-child(3) .brand__images-logo {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.5;
    color: #163c35;
}
/* ==============Services CSS============== */

.services {
    margin-top: 106px;
}
.service__top__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #152427;
    font-family: var(--second-font);
}
.service__top__title::before {
    display: inline-block;
    content: "";
    height: 1px;
    width: 25px;
    background: #152427;
    margin-right: 21px;
    margin-bottom: 8px;
}
.service__top__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service__top__heading {
    width: 520px;
    margin-top: 12px;
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}
.service__top__heading::after {
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: #152427;
}
.service__cta {
    display: flex;
    gap: 17px;
    align-items: center;
}
.btn__cta__click {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 52px;
    background: #e2eddf;
    border-radius: 50%;
    border: 1px solid #e2eddf;
    transition: 0.35s;
    color: var(--primary-color);
}
.btn__cta__click:last-child {
    transform: rotate(180deg);
}
.btn__cta__click:hover {
    color: #fff;
    background: #143c3c;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}
.services__list-item {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    gap: 0 16px;
}
.services__item {
    flex: 1;
    border-radius: 20px;
    transition: 0.35s;
}
.services__item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    cursor: pointer;
}
.services__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.services__item__title {
    margin-top: 24px;
    margin-left: 18px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
}
.services__item__desc {
    margin-top: 18px;
    width: 268px;
    margin-left: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
    padding-bottom: 15px;
}
/* ============Info CSS============= */

.info {
    margin-top: 170px;
}
.info-block {
    display: flex;
}
.info-block__left {
    position: relative;
    display: flex;
    width: 52%;
}
.info__left__images {
    display: flex;
    gap: 0 17px;
}
.info__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
}
.info__img--down {
    margin-top: 74px;
}
.info__vector__desgin {
    position: absolute;
    top: -20px;
    left: 0;
}
.info__members {
    position: absolute;
    bottom: -22px;
    right: -30px;
    height: 155px;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
    background-color: #fff;
}
.info__member__content {
    padding: 19px 23px 11px 23px;
}
.info__member__content__title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
}
.info__member__content__Total {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}
.info__member__content__percent {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.info__member__content__percent__block {
    margin-top: 3px;
    position: relative;
    width: 100%;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}
.info__member__content__percent__block::after {
    position: absolute;
    width: 40%;
    content: "";
    display: inline-block;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}
.info__member__content__block {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: none;
    background: #eaeaea;
}
.info__member__content__center {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: none;
    background: #143c3c;
}
.info__member__content__row {
    margin-top: 5px;
    display: flex;
    width: 12.55%;
    align-items: center;
    gap: 0 30px;
}
.info__row__block {
    display: flex;
    align-items: center;
}
.info__row__block__item {
    /* margin-left: -6px; */
}
.info__row__block__item__in {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -6px;
}
.info__row__block__item__img {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    object-fit: cover;
}
.info__member__content__status {
    text-align: end;
    margin-top: 3px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.info__row__team {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}
.info-block__right {
    width: 48%;
    margin-left: 70px;
}
.info__right__title {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 0 21px;
    font-size: 1.6rem;
    line-height: 1.12;
    color: #152427;
    font-family: var(--second-font);
}
.info__right__title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: #152427;
}
.info__right__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
    font-family: var(--second-font);
}
.info__right__desc {
    margin-top: 11px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
    font-family: var(--second-font);
}
.info__right__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.info__right__row__percent {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}
.info__right__row__desc {
    width: 364px;
    font-family: var(--second-font);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
    margin-left: 24px;
}
.info__hr {
    margin-top: 20px;
    width: 485px;
    height: 1px;
    background-color: #83a17d;
}
