* {
    box-sizing: border-box;
}
:root {
    --primary-font: "Public Sans, sans-serif";
    --second-font: "Poppins, sans-serif";
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--primary-font);
}
